<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&family=Roboto&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_Tournaments.css' %}">
    <link rel="stylesheet" href="{% static 'css/tournam.css' %}">
    <link rel="stylesheet" href="{% static 'css/tableTeam.css' %}">
    <link rel="stylesheet" href="{% static 'css/cardNews.css' %}">
    <link rel="stylesheet" href="{% static 'css/addTournament.css' %}">
    <link rel="stylesheet" href="{% static 'css/editTournam.css' %}">
    <title>My tournament</title>
    <script>
            let flagReg = false
            const flagRegist = () =>{
                flagReg == false ? flagReg = true : flagReg = false
                console.log(flagReg)
                return flagReg
            }







    </script>
</head>
<body>
<header>
    {%block header%}
    <div class="container">
        <div class="header-cap">
            <div class="logo">
                <h3><a href="{% url 'home' %}">РамФутбол</a></h3>
            </div>
            {%if user.is_authenticated%}
            <nav class="menu-header">
                <ul class="authoriz">
                    <li class=""><a href="{% url 'my_Tournaments' %}">Мои турниры</a></li>
                    <li class=""><a href="{% url 'myRegTournam' %}">Мои регистрации</a></li>
                    <li class=""><a href="{% url 'tournaments' %}">Турниры</a></li>
                    <li class=""><a href="{% url 'addTournament' %}">Создать турнир</a></li>
                </ul>
            </nav>

            <form action="{% url 'logoutUser' %}" method="post">
                {% csrf_token %}
                <button class="logout">Выйти</button>
            </form>
            {% else %}
            <nav class="menu-header">
                <ul class="authoriz">
                    <li class="regist"><a href="{% url 'registration' %}">Заргестрироваться</a></li>
                    <p>/</p>
                    <li class="enter"><a href="{% url 'authorization' %}">Войти</a></li>
                </ul>
            </nav>
            {% endif %}
            {% if flagRegist %}
            <p>lol</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</header>
<main>
    <section>
        {%block content%}
        <div class="containerSite">
            <div class="site">
                <h1 class="titleSite">РамФутбол</h1>
                <p class="textSite">РамФутбол - ваш надежный партнер в создании захватывающих и профессиональных
                    турниров.
                    Мы предоставляем инструменты для организации различных видов соревнований:
                    от видеоигр до настольных игр, спорта и многого другого.</p>
            </div>
            <div class="started">
                <h2>Как начать?</h2>
                <ul class="itemStarted">
                    <ol>1: Зарегистрируйтесь: Создайте свой аккаунт для доступа ко всем функциям.</ol>
                    <ol>2: Создайте турнир: Заполните детали, выберите правила и формат.</ol>
                    <ol>3: Пригласите участников: Пригласите друзей, сообщество или партнеров присоединиться к вашему
                        турниру.
                    </ol>
                    <ol>4: Начните соревнование: Отслеживайте ход турнира, общайтесь с создателем и наслаждайтесь
                        организацией.
                    </ol>
                </ul>
            </div>
        </div>
        {% endblock %}

    </section>
</main>
</body>
</html>