{%extends 'tournaments/home.html'%}

{%block content%}
<div class="containerMy_tournaments">
    <div class="my_tournaments">
        {% for tournam in tournams %}
        <div class="my_tournament_card">
            <div class="content">
                <h2>{{tournam.name}}</h2>
                <p>{{tournam.description}}</p>
            </div>
            <button><a href="{% url 'tournam' tournam.id %}">Подробнее</a></button>

            <form action="{% url 'editTournam' tournam.id %}" method="get">
                {% csrf_token %}
                <button>Редактировать</button>
            </form>

            <form action="{% url 'addNews' tournam.id %}" method="get">
                {% csrf_token %}
                <button>Добавить новость</button>
            </form>

        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}