{%extends 'tournaments/home.html'%}

{%block content%}
<div class="containerTournam">
    <div class="tournament">
        <div class="content">
            <h2>{{tournam.name}}</h2>
            <div class="date">
                <p>Начало турнира: {{tournam.start_date}}</p>
                <p>Конец: {{tournam.end_date}}</p>
                <p>Почта для связи с создателем: {{tournam.email}}</p>
            </div>
            <h3>О турнире</h3>
            <p>{{tournam.description}}</p>
        </div>
        {% if tournam_table %}
        <table class="table_team">
            <thead>
            <tr class="fields">
                <th>Команда</th>
                <th>Матчей</th>
                <th>В</th>
                <th>Н</th>
                <th>П</th>
                <th>ГОЛЫ</th>
                <th>РМ</th>
                <th>ОЧКИ</th>
            </tr>
            </thead>
            <tbody>
            {%for team in tournam_table%}
            <tr class="fields_table">
                <td>{{team.team}}</td>
                <td>{{team.matches_played}}</td>
                <td>{{team.wins}}</td>
                <td>{{team.draws}}</td>
                <td>{{team.losses}}</td>
                <td>{{team.goals_for}} - {{team.goals_against}}</td>
                <td>{{team.goals_difference}}</td>
                <td>{{team.points}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
         {%if flagBlock and flagTeam%}
            <form action="{% url 'trueORFalse' tournam.id %}" method="post">
                {% csrf_token %}
                <button>Регистрация</button>
            </form>
            {% if flag %}
            <form action="{% url 'registTeam' tournam.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button>Зарегистрироваться</button>
            </form>
            {% endif %}
        {%else%}
        <h3>Вы были заблокированны администратором или Регистрация была законченв</h3>
        {%endif%}
        <div class="regulation">
            <h3>Регламент</h3>
            <p>{{tournam.regulations}}</p>
        </div>
        <div class="news_tournam">
            {%for new in news%}
            <div class="mini-news-card">
                <h3>{{new.title}}</h3>
                <p>{{new.content|truncatechars:20}}</p>
                <a href="{% url 'new' new.id%}">Читать дальше</a>
                {%if tournam in my_tournam%}
                <form action="{% url 'deletetNew' new.id tournam.id%}" method="post">
                    {% csrf_token %}
                    <button>Удалить</button>
                </form>
                {% endif %}
            </div>
            {%endfor%}
        </div>

        {%if tournam in my_tournam%}
        <form class="deleteTournam" action="{% url 'deletetournam' tournam.id %}" method="post">
            {% csrf_token %}
            <button>Удалить турнир</button>
        </form>
        <form class="editTableTournam" action="{% url 'editTable' tournam.id %}" method="get">
            {% csrf_token %}
            <button>Редактировать таблицу</button>
        </form>
        {% endif %}
    </div>
</div>
{%endblock%}