{%extends 'tournaments/home.html'%}

{%block content%}
<div class="containerTournam">
    <div class="tournament">
        <div class="content">
            <h2>{{tournam.name}}</h2>
            <div class="date">
                <p>Начало турнира: {{tournam.start_date}}</p>
                <p>Конец: {{tournam.end_date}}</p>
            </div>
            <p>{{tournam.description}}</p>
            <p>{{tournam.regulations}}</p>
        </div>

        <form action="{% url 'trueORFalse' tournam.id %}" method="post">
            {% csrf_token %}
            <button>Регистрация</button>
        </form>
        {% if flag %}
        <form action="{% url 'registTeam' tournam.id %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>Зарегистрироваться</button>
        </form>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>Команда</th>
                <th>Дата матча</th>
                <th>Противник</th>
                <th>Результат</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Команда 1</td>
                <td>01.01.2023</td>
                <td>Команда 2</td>
                <td>2:1</td>
            </tr>
            <tr>
                <td>Команда 3</td>
                <td>02.01.2023</td>
                <td>Команда 4</td>
                <td>0:0</td>
            </tr>
            </tbody>
        </table>
        <div class="news_tournam">
            {%for new in news%}
            <div class="mini-news-card">
                <h3>{{new.title}}</h3>
                <p>{{new.content}}</p>
                <a href="{% url 'new' new.id%}">Читать дальше</a>
                {%if tournam in my_tournam%}
                <form action="{% url 'deletetNew' new.id tournam.id%}" method="post">
                    {% csrf_token %}
                    <button>Удалить</button>
                </form>
                {% endif %}
            </div>
            {%endfor%}
        </div>

        {%if tournam in my_tournam%}
        <form action="{% url 'deletetournam' tournam.id %}" method="post">
            {% csrf_token %}
            <button>Удалить</button>
        </form>
        {% endif %}
    </div>
</div>
{%endblock%}