.containerRegist {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registForm h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.registForm label {
  display: block;

  margin-bottom: 5px;
}

.registForm input[type="text"],
.registForm input[type="email"],
.registForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registForm button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registForm button:hover {
  background-color: #0056b3;
}

.registForm ul{
    display: none;
}

.registForm .error {
  color: red;
  margin-top: 10px;
}